In [1]:
# Welcome to your new notebook
# Type here in the cell editor to add code!

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 3, Finished, Available, Finished)

# Spark session started

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('hero').getOrCreate()
#spark session starting

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 4, Finished, Available, Finished)

# Load the data file

In [3]:
# df = spark.read.csv("Files/dirty_transactions.csv", header=True,inferSchema=True)
# df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 5, Finished, Available, Finished)

# Display Methods

In [4]:

# df.show(5)               # Show first 20 rows (default)
# display(df.show(5))
# display(df)
# df.printSchema()
# df.show(truncate=False)  # Show full column values (no cutting)
# df.show(truncate=False)  #show column value
# df.columns                 # Output: ['name', 'age']
# df.dtypes                # Output: [('name', 'string'), ('age', 'int')]
# df.head(3)             # First 3 rows
# df.first()            # First row
# df.take(5)                   # Returns 5 rows as list
# df.describe().show()          #describe about the dataframe 
# df.summary().show()             #describe more form like i 25%,50%,...
# df.limit(10).show()              #show only 10

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 6, Finished, Available, Finished)

# 3. DataFrame Operations

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Example").getOrCreate()

data = [("Vikki", 22), ("Pradeep", 23), ("Kumar", 21)]
columns = ["Name", "Age"]

hero = spark.createDataFrame(data, columns)    #i used hero insted of df
hero.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 7, Finished, Available, Finished)

+-------+---+
|   Name|Age|
+-------+---+
|  Vikki| 22|
|Pradeep| 23|
|  Kumar| 21|
+-------+---+

#### Selecting and Filtering Data

In [6]:
# # Select specific columns
# hero.select("name").show()

# Filter data (like SQL WHERE)
# hero.filter(hero.Age > 21).show()

# # Multiple conditions
# hero.filter((hero.Age < ) & (hero.Name == "Pradeep")).show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 8, Finished, Available, Finished)

### âœ…Adding or Modifying Columns

In [7]:
from pyspark.sql.functions import col

# Add a new column
df=hero
df = df.withColumn("AgeAfter5Years", col("Age") + 5)

# # Rename a column
# df = df.withColumnRenamed("Age", "CurrentAge")

df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 9, Finished, Available, Finished)

+-------+---+--------------+
|   Name|Age|AgeAfter5Years|
+-------+---+--------------+
|  Vikki| 22|            27|
|Pradeep| 23|            28|
|  Kumar| 21|            26|
+-------+---+--------------+

In [8]:
from pyspark.sql.functions import col, concat, lit

df = hero.withColumn("wishes", concat(lit("Happy Diwali "), col("Name")))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 10, Finished, Available, Finished)

+-------+---+--------------------+
|   Name|Age|              wishes|
+-------+---+--------------------+
|  Vikki| 22|  Happy Diwali Vikki|
|Pradeep| 23|Happy Diwali Pradeep|
|  Kumar| 21|  Happy Diwali Kumar|
+-------+---+--------------------+

In [9]:
display(df)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 11, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, edcf2bbd-887b-45fb-9ca1-00177865ffc0)

In [10]:
df.show(truncate=False)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 12, Finished, Available, Finished)

+-------+---+--------------------+
|Name   |Age|wishes              |
+-------+---+--------------------+
|Vikki  |22 |Happy Diwali Vikki  |
|Pradeep|23 |Happy Diwali Pradeep|
|Kumar  |21 |Happy Diwali Kumar  |
+-------+---+--------------------+

In [11]:
# Rename a column
df = df.withColumnRenamed("Age", "CurrentAge") 
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 13, Finished, Available, Finished)

+-------+----------+--------------------+
|   Name|CurrentAge|              wishes|
+-------+----------+--------------------+
|  Vikki|        22|  Happy Diwali Vikki|
|Pradeep|        23|Happy Diwali Pradeep|
|  Kumar|        21|  Happy Diwali Kumar|
+-------+----------+--------------------+

##### Grouping and Aggregation

In [12]:
from pyspark.sql.functions import avg,count,col
df.groupBy('Name')\
.agg(
    avg('CurrentAge').alias("AvgAge"),
    count('*').alias('Total')
    ).show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 14, Finished, Available, Finished)

+-------+------+-----+
|   Name|AvgAge|Total|
+-------+------+-----+
|  Vikki|  22.0|    1|
|Pradeep|  23.0|    1|
|  Kumar|  21.0|    1|
+-------+------+-----+

In [13]:
from pyspark.sql.functions import avg, count

df.groupBy("Name") \
  .agg(avg("CurrentAge").alias("AvgAge"),
      count("*").alias("Total")).show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 15, Finished, Available, Finished)

+-------+------+-----+
|   Name|AvgAge|Total|
+-------+------+-----+
|  Vikki|  22.0|    1|
|Pradeep|  23.0|    1|
|  Kumar|  21.0|    1|
+-------+------+-----+

### ðŸ§¹ Dropping Columns and Duplicates

In [14]:
df.drop('ageafter5year')

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 16, Finished, Available, Finished)

DataFrame[Name: string, CurrentAge: bigint, wishes: string]

In [15]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 17, Finished, Available, Finished)

+-------+----------+--------------------+
|   Name|CurrentAge|              wishes|
+-------+----------+--------------------+
|  Vikki|        22|  Happy Diwali Vikki|
|Pradeep|        23|Happy Diwali Pradeep|
|  Kumar|        21|  Happy Diwali Kumar|
+-------+----------+--------------------+

### ðŸ§¹ 1ï¸âƒ£ drop() â€“ Remove Columns or Rows

In [16]:
#  df.drop("age")

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 18, Finished, Available, Finished)

#### 2ï¸âƒ£ cast() â€“ Change Data Type of a Column

In [17]:
from pyspark.sql.functions import col

# Sample DataFrame
data = [("Vikki", 25), ("Raju", 30)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Convert Age (int) to float
df_cast = df.withColumn("floatAge", col("Age").cast("float"))
df_cast.printSchema()
df_cast.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 19, Finished, Available, Finished)

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- floatAge: float (nullable = true)

+-----+---+--------+
| Name|Age|floatAge|
+-----+---+--------+
|Vikki| 25|    25.0|
| Raju| 30|    30.0|
+-----+---+--------+

#### 3ï¸âƒ£ distinct() & dropDuplicates() â€“ Remove Duplicate Rows

In [18]:
data = [
    ("Vikki", 22),
    ("Pradeep", 23),
    ("Vikki", 22)
]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)
print("Original DataFrame:")
df.show()

# distinct() â€“ remove all exact duplicates
print("Using distinct():")
df.distinct().show()

# dropDuplicates() â€“ remove duplicates based on Name only
print("Using dropDuplicates(['Name']):")
df.dropDuplicates(["Name"]).show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 20, Finished, Available, Finished)

Original DataFrame:
+-------+---+
|   Name|Age|
+-------+---+
|  Vikki| 22|
|Pradeep| 23|
|  Vikki| 22|
+-------+---+

Using distinct():
+-------+---+
|   Name|Age|
+-------+---+
|  Vikki| 22|
|Pradeep| 23|
+-------+---+

Using dropDuplicates(['Name']):
+-------+---+
|   Name|Age|
+-------+---+
|  Vikki| 22|
|Pradeep| 23|
+-------+---+

#### 4. Data Cleaning & Transformation

In [19]:
from pyspark.sql.functions import col, trim, lower, upper, regexp_replace

data = [("  Vikki  ", "Data_Engineer"), (" Raju ", "AWS_DevOps")]
df = spark.createDataFrame(data, ["Name", "Role"])
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 21, Finished, Available, Finished)

+---------+-------------+
|     Name|         Role|
+---------+-------------+
|  Vikki  |Data_Engineer|
|    Raju |   AWS_DevOps|
+---------+-------------+

In [20]:
from pyspark.sql.functions import col, trim, lower, upper, regexp_replace

data = [("  Vikki  ", "Data_Engineer"), (" Raju ", "AWS_DevOps")]
df = spark.createDataFrame(data, ["Name", "Role"])

df_str = df.select(
    trim(col("Name")).alias("Trimmed"),                # removes spaces
    lower(col("Role")).alias("LowerRole"),             # all lowercase
    upper(col("Role")).alias("UpperRole"),             # all uppercase
    regexp_replace(col("Role"), "_", " ").alias("CleanRole")  # replace _ with space
)

df_str.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 22, Finished, Available, Finished)

+-------+-------------+-------------+-------------+
|Trimmed|    LowerRole|    UpperRole|    CleanRole|
+-------+-------------+-------------+-------------+
|  Vikki|data_engineer|DATA_ENGINEER|Data Engineer|
|   Raju|   aws_devops|   AWS_DEVOPS|   AWS DevOps|
+-------+-------------+-------------+-------------+

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

spark = SparkSession.builder.appName("AggregationJoinExample").getOrCreate()

# Schema for Employee Data
schema1 = StructType([
    StructField("EmpID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True)
])

data1 = [
    (1, "Arun", "IT", 55000),
    (2, "Divya", "HR", 48000),
    (3, "Kumar", "Finance", 60000),
    (4, "Sneha", "IT", 70000),
    (5, "Ravi", "Finance", 50000),
    (6, "Meena", "IT", 75000),
    (7, "Vijay", "HR", 52000),
    (8, "Priya", "Finance", 58000),
    (9, "Anand", "IT", 68000),
    (10, "Lakshmi", "HR", 54000)
]

df = spark.createDataFrame(data=data1, schema=schema1)

df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 23, Finished, Available, Finished)

+-----+-------+----------+------+
|EmpID|   Name|Department|Salary|
+-----+-------+----------+------+
|    1|   Arun|        IT| 55000|
|    2|  Divya|        HR| 48000|
|    3|  Kumar|   Finance| 60000|
|    4|  Sneha|        IT| 70000|
|    5|   Ravi|   Finance| 50000|
|    6|  Meena|        IT| 75000|
|    7|  Vijay|        HR| 52000|
|    8|  Priya|   Finance| 58000|
|    9|  Anand|        IT| 68000|
|   10|Lakshmi|        HR| 54000|
+-----+-------+----------+------+

#### if i add the location of employee column

In [22]:
df = df.withColumn("sambalam", col('salary'))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 24, Finished, Available, Finished)

+-----+-------+----------+------+--------+
|EmpID|   Name|Department|Salary|sambalam|
+-----+-------+----------+------+--------+
|    1|   Arun|        IT| 55000|   55000|
|    2|  Divya|        HR| 48000|   48000|
|    3|  Kumar|   Finance| 60000|   60000|
|    4|  Sneha|        IT| 70000|   70000|
|    5|   Ravi|   Finance| 50000|   50000|
|    6|  Meena|        IT| 75000|   75000|
|    7|  Vijay|        HR| 52000|   52000|
|    8|  Priya|   Finance| 58000|   58000|
|    9|  Anand|        IT| 68000|   68000|
|   10|Lakshmi|        HR| 54000|   54000|
+-----+-------+----------+------+--------+

In [23]:
df = df.withColumn('Newname',upper(col('Name')))

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 25, Finished, Available, Finished)

In [24]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 26, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+
|EmpID|   Name|Department|Salary|sambalam|Newname|
+-----+-------+----------+------+--------+-------+
|    1|   Arun|        IT| 55000|   55000|   ARUN|
|    2|  Divya|        HR| 48000|   48000|  DIVYA|
|    3|  Kumar|   Finance| 60000|   60000|  KUMAR|
|    4|  Sneha|        IT| 70000|   70000|  SNEHA|
|    5|   Ravi|   Finance| 50000|   50000|   RAVI|
|    6|  Meena|        IT| 75000|   75000|  MEENA|
|    7|  Vijay|        HR| 52000|   52000|  VIJAY|
|    8|  Priya|   Finance| 58000|   58000|  PRIYA|
|    9|  Anand|        IT| 68000|   68000|  ANAND|
|   10|Lakshmi|        HR| 54000|   54000|LAKSHMI|
+-----+-------+----------+------+--------+-------+

In [25]:
from pyspark.sql.functions import when, col
df=df.withColumn('low_salary',when(col('salary')<50000,'yes').otherwise('NO'))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 27, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+----------+
|EmpID|   Name|Department|Salary|sambalam|Newname|low_salary|
+-----+-------+----------+------+--------+-------+----------+
|    1|   Arun|        IT| 55000|   55000|   ARUN|        NO|
|    2|  Divya|        HR| 48000|   48000|  DIVYA|       yes|
|    3|  Kumar|   Finance| 60000|   60000|  KUMAR|        NO|
|    4|  Sneha|        IT| 70000|   70000|  SNEHA|        NO|
|    5|   Ravi|   Finance| 50000|   50000|   RAVI|        NO|
|    6|  Meena|        IT| 75000|   75000|  MEENA|        NO|
|    7|  Vijay|        HR| 52000|   52000|  VIJAY|        NO|
|    8|  Priya|   Finance| 58000|   58000|  PRIYA|        NO|
|    9|  Anand|        IT| 68000|   68000|  ANAND|        NO|
|   10|Lakshmi|        HR| 54000|   54000|LAKSHMI|        NO|
+-----+-------+----------+------+--------+-------+----------+

In [26]:
from pyspark.sql.functions import upper
df=df.withColumn('Name',upper(df["Name"]))
df.show()

# df = df.withColumn("column_name", upper(df["column_name"]))

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 28, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+----------+
|EmpID|   Name|Department|Salary|sambalam|Newname|low_salary|
+-----+-------+----------+------+--------+-------+----------+
|    1|   ARUN|        IT| 55000|   55000|   ARUN|        NO|
|    2|  DIVYA|        HR| 48000|   48000|  DIVYA|       yes|
|    3|  KUMAR|   Finance| 60000|   60000|  KUMAR|        NO|
|    4|  SNEHA|        IT| 70000|   70000|  SNEHA|        NO|
|    5|   RAVI|   Finance| 50000|   50000|   RAVI|        NO|
|    6|  MEENA|        IT| 75000|   75000|  MEENA|        NO|
|    7|  VIJAY|        HR| 52000|   52000|  VIJAY|        NO|
|    8|  PRIYA|   Finance| 58000|   58000|  PRIYA|        NO|
|    9|  ANAND|        IT| 68000|   68000|  ANAND|        NO|
|   10|LAKSHMI|        HR| 54000|   54000|LAKSHMI|        NO|
+-----+-------+----------+------+--------+-------+----------+

In [27]:
from pyspark.sql.functions import upper
df=df.withColumn('Department',upper(df["Department"]))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 29, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+----------+
|EmpID|   Name|Department|Salary|sambalam|Newname|low_salary|
+-----+-------+----------+------+--------+-------+----------+
|    1|   ARUN|        IT| 55000|   55000|   ARUN|        NO|
|    2|  DIVYA|        HR| 48000|   48000|  DIVYA|       yes|
|    3|  KUMAR|   FINANCE| 60000|   60000|  KUMAR|        NO|
|    4|  SNEHA|        IT| 70000|   70000|  SNEHA|        NO|
|    5|   RAVI|   FINANCE| 50000|   50000|   RAVI|        NO|
|    6|  MEENA|        IT| 75000|   75000|  MEENA|        NO|
|    7|  VIJAY|        HR| 52000|   52000|  VIJAY|        NO|
|    8|  PRIYA|   FINANCE| 58000|   58000|  PRIYA|        NO|
|    9|  ANAND|        IT| 68000|   68000|  ANAND|        NO|
|   10|LAKSHMI|        HR| 54000|   54000|LAKSHMI|        NO|
+-----+-------+----------+------+--------+-------+----------+

In [28]:
df = df.withColumn('Bounus',col('Salary')*.20)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 30, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+----------+-------+
|EmpID|   Name|Department|Salary|sambalam|Newname|low_salary| Bounus|
+-----+-------+----------+------+--------+-------+----------+-------+
|    1|   ARUN|        IT| 55000|   55000|   ARUN|        NO|11000.0|
|    2|  DIVYA|        HR| 48000|   48000|  DIVYA|       yes| 9600.0|
|    3|  KUMAR|   FINANCE| 60000|   60000|  KUMAR|        NO|12000.0|
|    4|  SNEHA|        IT| 70000|   70000|  SNEHA|        NO|14000.0|
|    5|   RAVI|   FINANCE| 50000|   50000|   RAVI|        NO|10000.0|
|    6|  MEENA|        IT| 75000|   75000|  MEENA|        NO|15000.0|
|    7|  VIJAY|        HR| 52000|   52000|  VIJAY|        NO|10400.0|
|    8|  PRIYA|   FINANCE| 58000|   58000|  PRIYA|        NO|11600.0|
|    9|  ANAND|        IT| 68000|   68000|  ANAND|        NO|13600.0|
|   10|LAKSHMI|        HR| 54000|   54000|LAKSHMI|        NO|10800.0|
+-----+-------+----------+------+--------+-------+----------+-------+

In [29]:
df = df.withColumn('highbounus',upper(when(col('Bounus')<10000,"yes").otherwise('no')))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 31, Finished, Available, Finished)

+-----+-------+----------+------+--------+-------+----------+-------+----------+
|EmpID|   Name|Department|Salary|sambalam|Newname|low_salary| Bounus|highbounus|
+-----+-------+----------+------+--------+-------+----------+-------+----------+
|    1|   ARUN|        IT| 55000|   55000|   ARUN|        NO|11000.0|        NO|
|    2|  DIVYA|        HR| 48000|   48000|  DIVYA|       yes| 9600.0|       YES|
|    3|  KUMAR|   FINANCE| 60000|   60000|  KUMAR|        NO|12000.0|        NO|
|    4|  SNEHA|        IT| 70000|   70000|  SNEHA|        NO|14000.0|        NO|
|    5|   RAVI|   FINANCE| 50000|   50000|   RAVI|        NO|10000.0|        NO|
|    6|  MEENA|        IT| 75000|   75000|  MEENA|        NO|15000.0|        NO|
|    7|  VIJAY|        HR| 52000|   52000|  VIJAY|        NO|10400.0|        NO|
|    8|  PRIYA|   FINANCE| 58000|   58000|  PRIYA|        NO|11600.0|        NO|
|    9|  ANAND|        IT| 68000|   68000|  ANAND|        NO|13600.0|        NO|
|   10|LAKSHMI|        HR| 54000|   54000|LAKSHMI|        NO|10800.0|        NO|
+-----+-------+----------+------+--------+-------+----------+-------+----------+

## karunasagar ETL

In [30]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('hero').getOrCreate()
#spark session starting

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 32, Finished, Available, Finished)

In [31]:
df = spark.read.csv("Files/orders_data.csv", header=True,inferSchema=True)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 33, Finished, Available, Finished)

+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name|  Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     Apple iPhone13|  one|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|  C_002| samsung Galaxy s21| NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|    3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       Oneplus Nord|  ONE|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         Nokia 3310|    1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|Xiaomi  note 12 pro|   02|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           Vivo V25|    3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|    4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| iPhone, 14 Pro Max|    1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   Motorola Edge-40|  NaN|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG Velvet|    2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         Realme X50| NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     Asus ROG Phone|Three|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    Google Pixel 6a|    1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      Sony Xperia 5|    2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [32]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 34, Finished, Available, Finished)

+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name|  Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     Apple iPhone13|  one|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|  C_002| samsung Galaxy s21| NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|    3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       Oneplus Nord|  ONE|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         Nokia 3310|    1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|Xiaomi  note 12 pro|   02|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           Vivo V25|    3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|    4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| iPhone, 14 Pro Max|    1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   Motorola Edge-40|  NaN|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG Velvet|    2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         Realme X50| NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     Asus ROG Phone|Three|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    Google Pixel 6a|    1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      Sony Xperia 5|    2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [33]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("cust_id", regexp_replace("cust_id", "_", ""))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 35, Finished, Available, Finished)

+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name|  Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     Apple iPhone13|  one|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| samsung Galaxy s21| NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|    3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       Oneplus Nord|  ONE|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         Nokia 3310|    1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|Xiaomi  note 12 pro|   02|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           Vivo V25|    3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|    4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| iPhone, 14 Pro Max|    1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   Motorola Edge-40|  NaN|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG Velvet|    2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         Realme X50| NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     Asus ROG Phone|Three|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    Google Pixel 6a|    1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      Sony Xperia 5|    2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [34]:
from pyspark.sql.functions import *
df=df.withColumn('Product_Name',upper(col('Product_Name')))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 36, Finished, Available, Finished)

+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name|  Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|  one|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21| NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|    3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|  ONE|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|    1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   02|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|    3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|    4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|    1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|  NaN|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|    2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50| NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|Three|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|    1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|    2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [35]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 37, Finished, Available, Finished)

+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name|  Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|  one|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21| NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|    3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|  ONE|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|    1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   02|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|    3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|    4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|    1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|  NaN|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|    2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50| NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|Three|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|    1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|    2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+-----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [36]:
display(df)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 38, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, dae8374e-0e7f-437e-932f-f7b1f28982ff)

In [38]:
from pyspark.sql.functions import col, lower, create_map, lit, when

# dictionary for word â†’ number
num_map = {
    "zero": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "ten": 10
}

# convert dictionary to PySpark map
mapping_list = []
for k, v in num_map.items():
    mapping_list += [lit(k), lit(v)]

mapping_expr = create_map(*mapping_list)

# final conversion logic for Qty
df = df.withColumn(
    "Qty",
    when(
        col("Qty").rlike("^[0-9]+$"),      # already numeric (1, 02, 3)
        col("Qty").cast("int")
    ).when(
        lower(col("Qty")).isin(list(num_map.keys())),  # word numbers
        mapping_expr[lower(col("Qty"))]
    ).otherwise(None)   # NaN or invalid
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 40, Finished, Available, Finished)

+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|    2023/06/12|       $799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|    12-07-2023|        $1200|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|    15/07/2023|      499 USD|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|    07-20-2023|          â‚¹49|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|    07.21.2023|      $899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|    2023/13/07|    899.1 INR|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|July 20th 2023|        $1099|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|    2023.07.25|      USD 550|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|    2023/06/18|       â‚¹35000|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|    06-07-2023|      USD 399|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|    2023.07.10|     Rs.59999|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|    07/15/2023|         $449|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|    15-07-2023|     Rs 65000|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

#### here change the rupees into dollors

In [39]:
from pyspark.sql.functions import col, regexp_replace, when

# conversion rate
usd_rate = 83  # 1 USD = 83 INR

df = df.withColumn(
    "Order_Amount$",

    # Step 1: Remove symbols (â‚¹, $, commas)
    regexp_replace(col("Order_Amount$"), r"[â‚¹$,]", "")
        .alias("Order_Amount$")
)

# Step 2: Convert to USD
df = df.withColumn(
    "Order_Amount$",
    when(
        col("Order_Amount$").rlike("(?i).*inr.*"),   # values containing 'INR'
        (regexp_replace(col("Order_Amount$"), "(?i)inr", "").cast("double") / usd_rate)
    )
    .when(
        col("Order_Amount$").rlike("(?i)^usd"),      # 'USD 30'
        regexp_replace(col("Order_Amount$"), "(?i)usd", "").cast("double")
    )
    .otherwise(col("Order_Amount$").cast("double"))  # already in dollars
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 41, Finished, Available, Finished)

+--------+-------+-------------------+----+--------------+------------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|    Order_Date|     Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+--------------+------------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|    2023/06/12|             799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|    12-07-2023|            1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|    2023.07.15|              NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|    15/07/2023|              NULL|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|    07-20-2023|              49.0|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|    07.21.2023|            899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|          NULL|             375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|    2023/13/07|10.832530120481929|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|July 20th 2023|            1099.0|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|    2023.07.25|             550.0|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|    2023/06/18|           35000.0|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|    06-07-2023|             399.0|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|    2023.07.10|              NULL|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|    07/15/2023|             449.0|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|    15-07-2023|              NULL|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+--------------+------------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [40]:
from pyspark.sql.functions import round, col

df = df.withColumn(
    "Order_Amount$",
    round(col("Order_Amount$"), 2)
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 42, Finished, Available, Finished)

+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|    Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|    2023/06/12|        799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|    12-07-2023|       1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|    2023.07.15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|    15/07/2023|         NULL|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|    07-20-2023|         49.0|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|    07.21.2023|       899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|          NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|    2023/13/07|        10.83|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|July 20th 2023|       1099.0|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|    2023.07.25|        550.0|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|    2023/06/18|      35000.0|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|    06-07-2023|        399.0|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|    2023.07.10|         NULL|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|    07/15/2023|        449.0|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|    15-07-2023|         NULL|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+--------------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

#### Date format change

In [42]:
from pyspark.sql.functions import to_date, coalesce, col, date_format

# Step 1: Convert mixed formats into a valid date type
df = df.withColumn(
    "Order_Date",
    coalesce(
        to_date(col("Order_Date"), "yyyy/MM/dd"),
        to_date(col("Order_Date"), "dd-MM-yyyy"),
        to_date(col("Order_Date"), "yyyy.MM.dd"),
        to_date(col("Order_Date"), "dd/MM/yyyy"),
        to_date(col("Order_Date"), "MM-dd-yyyy"),
        to_date(col("Order_Date"), "MM.dd.yyyy"),
        to_date(col("Order_Date"), "MMMM dd yyyy"),
        to_date(col("Order_Date"), "MMMM dd'th' yyyy")
    )
)

# Step 2: Format final output into yyyy/MM/dd
df = df.withColumn("Order_Date", date_format(col("Order_Date"), "yyyy/MM/dd"))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 44, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|       DELIVERD|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|         OnHold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|       Deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

##### Delivery_status colu should be in lowercase

In [43]:
df=df.withColumn('Delivery_Status',lower(col('Delivery_Status')))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 45, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|        delivrd|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|       deliverd|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     on the way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|         onhold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|       deliverd|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [44]:
from pyspark.sql.functions import lower, col, when

df = df.withColumn(
    "Delivery_Status",
    when(lower(col("Delivery_Status")).isin("delivered", "deliverd", "delivrd"), "Delivered")
    .when(lower(col("Delivery_Status")) == "pending", "Pending")
    .when(lower(col("Delivery_Status")).isin("on the way", "ontheway"), "On The Way")
    .when(lower(col("Delivery_Status")).isin("onhold", "on hold"), "On Hold")
    .when(lower(col("Delivery_Status")) == "cancelled", "Cancelled")
    .when(lower(col("Delivery_Status")) == "delivering", "Delivering")
    .otherwise(None)
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 46, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered|  CreditCard|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  DEBIT card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         upi|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit_Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| CREDIT card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      paypal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|       debit|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering|      credit|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [45]:
df=df.withColumn('Payment_Mode',upper(col('Payment_Mode')))
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 47, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered|  CREDITCARD|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PAYPAL|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  DEBIT CARD|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| CREDIT CARD|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| CREDIT_CARD|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| CREDIT CARD|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PAYPAL|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| CREDIT CARD|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        CASH|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|       DEBIT|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering|      CREDIT|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [46]:
from pyspark.sql.functions import col, lower, when

df = df.withColumn(
    "Payment_Mode",
    when(lower(col("Payment_Mode")).isin("credit", "creditcard", "credit card", "credit_card"), "Credit Card")
    .when(lower(col("Payment_Mode")).isin("debit", "debit card", "debitcard"), "Debit Card")
    .when(lower(col("Payment_Mode")).isin("paypal", "pay_pal"), "PayPal")
    .when(lower(col("Payment_Mode")).isin("upi"), "UPI")
    .when(lower(col("Payment_Mode")).isin("cash"), "Cash")
    .otherwise(None)
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 48, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered| Credit Card|221B, baker st. ,...|john.doe@@gmail..com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  Debit Card|    123, main street|  jane_doe#email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|            mumbai  | peter.parker@marvel|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit Card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|           New Delhi|        batman@wayne|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| Credit Card|         Gotham City|     joker#laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|                 N/A|              bruce@|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PayPal|           pune#city|     lguser@@example|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|   sector-56 gurgaon|         realme@site|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        Cash|          bangalore!|          rog@@phone|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|  Debit Card|          Hyderabad$|        pixel@google|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering| Credit Card|         coimbatore@|         sony@xperia|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [47]:
display(df)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 49, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, e2e7d5dd-e217-458a-8ea7-0e389763359b)

In [50]:
from pyspark.sql.functions import col, regexp_replace, when

# Step 1: Basic cleanup for repeated symbols
df = df.withColumn(
    "Email",
    regexp_replace(col("Email"), r"@+", "@")
)

df = df.withColumn(
    "Email",
    regexp_replace(col("Email"), r"\.+", ".")
)

df = df.withColumn(
    "Email",
    regexp_replace(col("Email"), r"#", "@")
)

# Step 2: Add domain if missing (ex: john@ -> john@unknown.com)
df = df.withColumn(
    "Email",
    when(col("Email").rlike(r"^[^@]+@$"), regexp_replace(col("Email"), "@$", "@unknown.com"))
    .otherwise(col("Email"))
)

# Step 3: Add .com if domain extension missing (ex: user@gmail -> user@gmail.com)
df = df.withColumn(
    "Email",
    when(~col("Email").rlike(r"\.[a-zA-Z]{2,}$"), col("Email") + ".com")
    .otherwise(col("Email"))
)

df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 52, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|        Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered| Credit Card|221B, baker st. ,...|  john.doe@gmail.com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|     Noida #Sector21|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  Debit Card|    123, main street|  jane_doe@email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|            mumbai  |                NULL|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit Card|             Delhi#4|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|                NULL|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit Card|             chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|           New Delhi|                NULL|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| Credit Card|         Gotham City|     joker@laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|                 N/A|   bruce@unknown.com|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PayPal|           pune#city|                NULL|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|   sector-56 gurgaon|                NULL|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        Cash|          bangalore!|                NULL|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|  Debit Card|          Hyderabad$|                NULL|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering| Credit Card|         coimbatore@|                NULL|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+--------------------+--------------------+----------+--------------+

In [51]:
from pyspark.sql.functions import col, regexp_replace, lower, trim, when

# Lowercase + remove special chars
df = df.withColumn(
    "Ship_Address",
    trim(lower(regexp_replace(col("Ship_Address"), r"[^a-zA-Z ]", "")))
)

# Mapping valid Indian cities
df = (
    df
    .withColumn(
        "Ship_Address",
        when(col("Ship_Address").contains("mumbai"), "Mumbai")
        .when(col("Ship_Address").contains("delhi"), "Delhi")
        .when(col("Ship_Address").contains("new delhi"), "New Delhi")
        .when(col("Ship_Address").contains("noida"), "Noida")
        .when(col("Ship_Address").contains("pune"), "Pune")
        .when(col("Ship_Address").contains("chennai"), "Chennai")
        .when(col("Ship_Address").contains("gurgaon"), "Gurgaon")
        .when(col("Ship_Address").contains("bangalore"), "Bangalore")
        .when(col("Ship_Address").contains("hyderabad"), "Hyderabad")
        .when(col("Ship_Address").contains("coimbatore"), "Coimbatore")
        .otherwise("Unknown")
    )
)
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 53, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered| Credit Card|     Unknown|  john.doe@gmail.com|   NEW2023|             5|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|       Noida|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  Debit Card|     Unknown|  jane_doe@email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|      Mumbai|                NULL|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit Card|       Delhi|bruce.wayne@wayne...|      NULL|            10|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|     Unknown|                NULL|DISCOUNT50|             8|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit Card|     Chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|       Delhi|                NULL|      NULL|           bad|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| Credit Card|     Unknown|     joker@laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|     Unknown|   bruce@unknown.com|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PayPal|        Pune|                NULL|  VELVET25|             6|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|     Gurgaon|                NULL|    SAVE10|             4|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        Cash|   Bangalore|                NULL|      NULL|             9|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|  Debit Card|   Hyderabad|                NULL|  PIXELNEW|             7|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering| Credit Card|  Coimbatore|                NULL|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+

In [52]:
df=df.withColumn('Feedback_Score',col('Feedback_Score').cast(float())).otherwise("NULL")

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 54, Finished, Available, Finished)

PySparkTypeError: [NOT_DATATYPE_OR_STR] Argument `dataType` should be a DataType or str, got float.

In [53]:
from pyspark.sql.functions import col, when

df = df.withColumn(
    "Feedback_Score",
    when(col("Feedback_Score").cast("float").isNotNull(),
         col("Feedback_Score").cast("float")  # allow int or float
    ).otherwise(None)  # everything else becomes NULL
)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 55, Finished, Available, Finished)

In [54]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 56, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered| Credit Card|     Unknown|  john.doe@gmail.com|   NEW2023|           5.0|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|       Noida|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  Debit Card|     Unknown|  jane_doe@email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|      Mumbai|                NULL|    SAVE20|           NaN|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit Card|       Delhi|bruce.wayne@wayne...|      NULL|          10.0|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|     Unknown|                NULL|DISCOUNT50|           8.0|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit Card|     Chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|       Delhi|                NULL|      NULL|          NULL|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| Credit Card|     Unknown|     joker@laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|     Unknown|   bruce@unknown.com|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PayPal|        Pune|                NULL|  VELVET25|           6.0|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|     Gurgaon|                NULL|    SAVE10|           4.0|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        Cash|   Bangalore|                NULL|      NULL|           9.0|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|  Debit Card|   Hyderabad|                NULL|  PIXELNEW|           7.0|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering| Credit Card|  Coimbatore|                NULL|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+

In [55]:
from pyspark.sql.functions import col, when
from pyspark.sql.types import FloatType

df = df.withColumn(
    "Feedback_Score",
    when(
        (col("Feedback_Score").cast(FloatType()).isNotNull()) &
        (~col("Feedback_Score").isin("NaN", "nan", "NAN")),
        col("Feedback_Score").cast(FloatType())
    ).otherwise(None)
)

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 57, Finished, Available, Finished)

In [60]:
df.show()

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 62, Finished, Available, Finished)

+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|Order_ID|cust_id|       Product_Name| Qty|Order_Date|Order_Amount$|Delivery_Status|Payment_Mode|Ship_Address|               Email|Promo_Code|Feedback_Score|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+
|    1001|   C001|     APPLE IPHONE13|   1|2023/06/12|        799.0|      Delivered| Credit Card|     Unknown|  john.doe@gmail.com|   NEW2023|           5.0|
|    1002|   C002| SAMSUNG GALAXY S21|NULL|2023/07/12|       1200.0|      Delivered|      PayPal|       Noida|                NULL|Summer2023|          NULL|
|    1003|   C003|               NULL|   3|2023/07/15|         NULL|        Pending|  Debit Card|     Unknown|  jane_doe@email.com|      NULL|          NULL|
|    1004|   C004|       ONEPLUS NORD|   1|2023/07/15|         NULL|      Delivered|         UPI|      Mumbai|                NULL|    SAVE20|          NULL|
|    1005|   NULL|         NOKIA 3310|   1|2023/07/20|         49.0|      Delivered| Credit Card|       Delhi|bruce.wayne@wayne...|      NULL|          10.0|
|    1006|   C006|XIAOMI  NOTE 12 PRO|   2|2023/07/21|       899.99|        Pending|        NULL|     Unknown|                NULL|DISCOUNT50|           8.0|
|    1007|   C007|           VIVO V25|   3|      NULL|        375.0|           NULL| Credit Card|     Chennai| clarkkent.gmail.com|      NULL|           2.5|
|    1008|   C008|               NULL|   4|      NULL|        10.83|      Delivered|         UPI|       Delhi|                NULL|      NULL|          NULL|
|    1009|   C009| IPHONE, 14 PRO MAX|   1|2023/07/20|       1099.0|     On The Way| Credit Card|     Unknown|     joker@laugh.com|   LAUGH10|          NULL|
|    1010|   C010|   MOTOROLA EDGE-40|NULL|2023/07/25|        550.0|        On Hold|        NULL|     Unknown|   bruce@unknown.com|      NULL|          NULL|
|    1011|   C011|          LG VELVET|   2|2023/06/18|      35000.0|      Delivered|      PayPal|        Pune|                NULL|  VELVET25|           6.0|
|    1012|   C012|         REALME X50|NULL|2023/07/06|        399.0|        Pending| Credit Card|     Gurgaon|                NULL|    SAVE10|           4.0|
|    1013|   C013|     ASUS ROG PHONE|   3|2023/07/10|         NULL|      Delivered|        Cash|   Bangalore|                NULL|      NULL|           9.0|
|    1014|   C014|    GOOGLE PIXEL 6A|   1|      NULL|        449.0|      Cancelled|  Debit Card|   Hyderabad|                NULL|  PIXELNEW|           7.0|
|    1015|   C015|      SONY XPERIA 5|   2|2023/07/15|         NULL|     Delivering| Credit Card|  Coimbatore|                NULL|      NULL|          NULL|
+--------+-------+-------------------+----+----------+-------------+---------------+------------+------------+--------------------+----------+--------------+

In [61]:
df.write.mode("overwrite").format('delta').saveAsTable('golden_order')

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 63, Finished, Available, Finished)

In [65]:
%%sql

SELECT * FROM fabriclakes.dbo.golden_order LIMIT 15

StatementMeta(, fdad8a92-30ce-44d7-bf68-15c5e78aa66d, 67, Finished, Available, Finished)